@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Articles</h1>

<form method="post" asp-page-handler="Search">
    <input type="text" name="SearchQuery" value="@Model.SearchQuery" placeholder="Search" />
    <button type="submit">Search</button>
</form>


<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Content</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model.Articles)
        {
            <tr>
                <td>@article.Title</td>
                <td><a href="@article.Url">@article.Url</a></td>
                <td>@article.Content</td>
                <td>@article.Timestamp</td>
            </tr>
        }
    </tbody>
</table>
